<%= form_with(model: gist, local: true) do |form| %>
  <% if gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% gist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
